<div class="jumbotron col-sm-11 col-xs-offset-half">
  <center><img src="images/Logo.png"></center>
  <br/><br/>
  <p><strong>योजनाकार-Yojanakar</strong>(Planner) is an event organising and scheduling tool that automates the work of an corporate event organiser, reducing his/her burden in the areas of planning, recording, scheduling and rescheduling. It also provides a view of the event fixtures for the general public.</p>
  <!--<p>योजनाकार uses a responsive design which will provide a vivid view in large screens and also in smart phones.</p>    -->
  <p>Game event orgainsers, especially in corporate offices spend much of their time in fixing the correct opponents in the first round (Really!!! Believe me :)) For example, in a knock out event, the top seeded players should not be the direct opponents in the first round. Think of Federer vs Djokovic in the first round.</p>
  <p>Similarly the other end of the lane must also be provided with an opportuninty to be played with a ranked player.</p>
  <p>योजनाकार uses a complex algorithm to schedule events based on <i>"Yojanakar Expertise Transformed Index" <strong>(YETI)</strong></i>. Each player's expertise, experience, fitness and popularity are used to create YETI.</p>
  <br/><br/>
  <p>Enough of talking, here is how you can use this tool as an corporate event organiser</p>
  <br/>
<div class="col-sm-11 text-center center-block" id="start">
    <div class="row">
        <p class="btn btn-lg btn-danger"><a href="#/tourney/create">Create a tournment</a></p>
        <p><span class="glyphicon glyphicon-arrow-down"></span></p>
    </div>
    <div class="row">
        <p class="btn-lg btn btn-warning"><a href="#/event/create">Create an event</a></p>
        <p><span class="glyphicon glyphicon-arrow-down"></span></p>
    </div>
    <div class="row">
        <p class="btn-primary btn btn-lg"><a href="#/team/create">Create teams with players</a></p>
        <p><span class="glyphicon glyphicon-arrow-down"></span></p>
    </div>    
    <div class="row">
        <p class="btn-info btn btn-lg"><a href="#/schedule">Schedule</a></p>
        <p><span class="glyphicon glyphicon-arrow-down"></span></p>
    </div>
    <div class="row">
        <p class="btn-success btn btn-lg"><a href="#/fixture">Voilà!!!</a></p>
    </div>
</div>
    
</div>