<div class="jumbotron col-sm-11 col-xs-offset-half">
  <center><img src="images/Logo.png"></center>
  <br/><br/>

<div class="form-group bg-info text-info text-center col-sm-6 col-sm-offset-3" style="border-radius:25px;">
<h2>Development Team</h2>
 <p>Shankar Murugesan<br/>
 Arulanandham Muruganandham<br/>
 Rishi Suresh<br/>
 Palanivel Sundararajan Gugagurunathan</p>
</div>
<div class="form-group bg-success text-success text-center col-sm-6 col-sm-offset-3"style="border-radius:25px;">
<h2>Credits</h2>
 <p>Angular JS - https://angularjs.org/<br/>
 Bootstrap CSS - http://getbootstrap.com/<br/>
 Glyphicons - http://glyphicons.com/<br/>
Logo Design - https://www.graphicsprings.com/</p>
</div>    
</div>
